.about {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.about-container {
  max-width: 1100px;
  display: flex;
  align-items: center;
  gap: 100px;
}

/* LEFT SIDE IMAGE */
.about-img img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* RIGHT SIDE CONTENT */
.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #141c6e;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #444;
  margin-bottom: 15px;
}

/* RESPONSIVE (MOBILE) */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-img img {
    width: 250px;
    height: 300px;
  }
  
  .about-content p {
    font-size: 1rem;
  }
}
